
* {
  box-sizing: border-box;
}

.DivHeader{
    position: relative;
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    gap: 7%;
    margin: 0;
    background-color: #ffb7c1;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
nav{
    display: flex;
   padding-top: 30px;
    flex-wrap: wrap;
    margin-right: 2%;
    
}
.nav-links{
    gap: 18px;
    display: flex;
    z-index: 1;
}
.nav-links a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 20px;
    position: relative;
    transition: color 0.3s ease;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
    
}

.menu-btn {
    position: fixed;
    left: 90%;
    background: none;
    border: none;
    font-size: 25px;
    display: none;
    transition: 0.3s ease;
}
.menu-icon{
    color: rgb(252, 238, 219);
}
.menu-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.LogoSi{
    height: 110px;
    object-fit:contain;
}

@media (max-width: 768px) {
    .menu-btn {
        display: initial;
        z-index: 3;
        transition: right 0.3s ease-in-out;
    }

    .menu-icon.open{
        color: rgb(252, 238, 219);
        z-index: 3;
    }

    .nav-links {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 250px;
        gap: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:#56091f;
        transition: right .3s ease;
        z-index: 3;
    }

    .nav-links a {
        color: antiquewhite;
        font-size: 30px;
        z-index: 3;
    }

    .nav-links.active {
        right: -2%;
        margin: 0;
        z-index: 3;
    }

    .overlay{
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);
        z-index: 2;
    }
}