
.divBanner2{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/img_fundo_3.png');
}
.divBanner2::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.74);
    position: absolute;
    left: 0;
    width: 100%;
    height: 44.4%;
}
.BOLOS_text{
    margin: 5px;
    position:relative;
    align-items:center;
    width: 50%;
    text-align: center;
    color: antiquewhite;
    z-index: 1;
}
.BOLOS_title{
    margin: 5px;
    position:relative;
    align-items:center;
    width: 50%;
    text-align: center;
    color: antiquewhite;
    z-index: 1;
    font-size: 40;
}
.Categoria{
    display: flex;
    background-image:url('..\assets\Categories.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    justify-content: center;
    object-fit: cover;
    background-position: center;
  
    flex-direction: column;
    padding-bottom: 20px;
}
.Titulo_cat{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin: 0;
    color: antiquewhite;
    align-items: center
}
.cat_bolo{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin: 0;
    padding-top: -30px;
    color: #2e0006;
}
.cat_li{
    background-color: antiquewhite;
    padding: 15px;
   
    border: 1px solid antiquewhite;
}

.border-left{
    border-radius: 16px 0 0 16px;
}

.border-right{
    border-radius: 0 16px 16px 0px;
}

.cat_li:hover{
    color:antiquewhite;
    background-color: #56091f;
    cursor: pointer;
}
.cat_boloUL{
    display: flex;
    justify-content: center;
}
.produtos{
    background-color:antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
.bolos{
    display:flex;
    flex-direction: column;
    background-color:#daa990;
    width: 250px;;
    height: 380px;
    align-self: center;
    background-position: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.img_bolos{
    display: flex;
    position: relative;
    align-items: center;
    width: 70%;
    height: 60%;
    z-index: 1;
    padding-bottom: 30px;
}
.img_bolos:hover{
    transition: ease-in;
}
.sla{
    background-color: aliceblue;
    height: 100px;
    width: 100px;
}
.conteudo{
    position: relative;
    display:flex;
    gap:30px;
    margin:40px 40px 20px 40px;
}
.nome_bolo{
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    z-index: 2;
    font-size: 23;
    margin: 0;
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;

}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #daa990;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .popup1 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    background:antiquewhite;
    background-image: url("../IMG/fundo_popup.png") ;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    height: 100%;
    text-align: center;
    align-items: center;
  }
  
  .fechar {
    position: absolute;
    color: #daa990;
    float: right; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    padding-left:89%;
    padding-top: 16%;
    z-index: 2;
  }
  .fechar:hover {
    color: #2e0006;
  }
  .popup_txt{
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-size: 18;
    margin: 0;
  }
  .img_bolos_popup{
    width: 300px;
    height: 500px;
  }
  .provar{
    font-size: 25;
    color: #56091f;
    background-color:antiquewhite;
    padding: 15px;
    transition: all 0.6 ease;
    border: 1px solid #56091f;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 35px;
  }
  .provar:hover{
    color:antiquewhite;
    background-color:#56091f;
    border-radius: 35px;
    transform: scale(1.05);
    transition: all 0.6 ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 1px solid antiquewhite;
    ;
  }
  .btn_bolos{
    font-size: 20;
    padding: 10 10 10 10 ;
    color:#daa990;
    background-color:antiquewhite;
    padding-top:10px 10px 10px 10px;
    transition: all 0.6 ease;
    border: 0px solid antiquewhite;
    border-radius: 20px;
    transition: all 0.6 ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    cursor: pointer;
  }
  
  .btn_bolos:hover{
    color:antiquewhite;
    background-color:#56091f;
    border-radius: 20px;
    transform: scale(1.05);
  }
  button{
    cursor: pointer;
    transition: all .3s ease;
  }
  .preco{
    color:#56091f;
    font-size: 35;
    background-color:antiquewhite;
    padding:10px 10px 10px 10px;
    border-radius: 35px;
  }
  footer{
  background-color: #daa990;
  }
